.results-large {
  width: 20vw;
  height: 90vh;
  z-index: 1;
  position: absolute;
  background-color: rgba(62, 178, 206, 0.9);
  color: #000000;
  border-radius: 4px;
  top: 5vh;
  left: 20px;
  transition: 1s ease;
  overflow: scroll;
}

.results-small {
  width: 0;
  height: 90vh;
  z-index: 1;
  position: absolute;
  background-color: rgba(62, 178, 206, 0.9);
  color: #000000;
  border-radius: 4px;
  top: 5vh;
  left: 0;
  transition: 1s ease;
}

.resultsTab {
  background-color: rgba(62, 178, 206, 0.9);
  border: none;
  position: fixed;
  top: 50%;
  left: 0%;
  height: 5%;
  width: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.results-list-hidden {
  display: none;
}

.results-list {
  margin: 10px;
}

.results-large::-webkit-scrollbar {
  display: none;
}
